@import './partials/_colorsPalette';
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

// body {
//     font-family: "Poppins", sans-serif;
//     color: $orange;
// }

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app > * {
    width: 100%;
}

main {
    flex-grow: 1;
}
img {
    max-width: 100%;
}* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}